@define-mixin atSmall {
    @media (min-width : 200px) and (max-width : 907px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width : 908px) and (max-width : 1289px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1290px) {
        @mixin-content;
    }
}

@define-mixin inputBox $sectionType {
    $(sectionType)__box {
        width: 25.0625rem;
        border-radius: 100px;
        border: solid 1px $mainWhite;
        height: 3.125rem;
        background-color:transparent;
        color: $mainWhite;
        @mixin-content;
        padding-left: 10px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $mainWhite;
            font-size: 1.125rem;
            padding-left: 1.25rem;
            opacity: 0.5;
        }
    }
}

@define-mixin inputBoxButton $sectionType {
    $(sectionType)__button {
        border-radius: 100px;
        cursor: pointer;
        width: 100%;
        height: 3.125rem;
        color: $mainWhite;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to left, #2977fc, #27bbff);
        margin-top: 20px;
        @mixin-content;
    }
}

@define-mixin pentagonText $itemName, 
    $marginTop, $marginLeft, $fontSize, 
    $maxWidth: 12%  {
    $(itemName) {
        position: absolute;
        margin-top: $(marginTop);
        margin-left: $(marginLeft);
        font-size: $(fontSize);
        text-align: left;
        max-width: $(maxWidth);
        @mixin-content;
    }

@define-mixin changesText $itemName,
    $fontSize, $leftt, $marginTop {

        $(itemName) {
            position: absolute;
            color: $textGray;
            font-size: $(fontSize);
            margin-left: $(leftt);
            margin-top: $(marginTop);
            @mixin-content;
        }

    }

}


@define-mixin headerItem $itemName, $borderRadius: 25px
    $(itemName) {
        border: solid;
        padding: 10px 20px;
        border-width: 1px;
        border-radius: $(borderRadius);
        @mixin-content;
    }