.page-section-be-part {
    background: linear-gradient(to right, #007fba, #02368d);
    height: 10.125rem;
    text-align: center;
    overflow: auto;
}

.be-part {
    &__email {
        margin-top: 1.5rem;

        &__heading {
            color: $mainWhite;
        }

        @mixin inputBox & {}
        @mixin inputBoxButton & { }
    }

}