.page-section-be-part {
    background: linear-gradient(to right, #007fba, #02368d);
    height:167px;
    text-align: center;
}

.be-part {
    &__email {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 401px;
        margin: 1.5rem auto 0;

        &__heading {
            color: $mainWhite;
        }

        @mixin inputBox & { 

            @mixin atSmall {
                max-width: 310px;
                height: 40px;
            }

        }
        @mixin inputBoxButton & {
            

            @mixin atLarge {
                width: 168px;
                height: 40px;
                margin-top: -47px;
                margin-left: auto;
            }
            @mixin atMedium {
                max-width: 168px;
                height: 40px;
                margin-top: -47px;
                margin-left: auto;
            }

            @mixin atSmall {
                max-width: 310px;
                height: 40px;
            }
         }
    }

}