.gbook-footer {
    background-color: #02172e;
    color: $mainWhite;
    display: flex;
    justify-content: space-evenly;
    height: 162px;
    align-items: center;

    @mixin atSmall {
        flex-direction: column;
    }

    &>p {
        height: auto;
    }

    &-logos {
        display: flex;
        justify-content: space-evenly;
        max-width: 42%;
    }
}
