.large-gbook {
    position: relative;

    &__text-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        text-align: center;
        width: 100%;
    }

    &__img {
        height: 100vh;
        width: 100%;
    }

    &__title {
        font-weight: 300;
        color: $mainWhite;
        font-size: 1.5rem;

        @mixin atSmall {
            font-size: 2rem;
        }

        @mixin atMedium {
            font-size: 2.5rem;
        }

        @mixin atLarge {
            font-size: 2.75rem;
        }
    }

    &__subtitle {
        color: $mainWhite;
        font-size: 1.5rem;
        font-weight: 300;
        max-width: 51.625rem;
        margin: 0 auto;
    }

    &__email {
        margin-top: 3.05625rem;

        &__heading {
            color: $mainWhite;
        }

        @mixin inputBox & { }
        @mixin inputBoxButton & { }
    }
}