.roadmap {
    background-color: #1d416a;
    color: $mainWhite;

    @mixin atSmall {
        display: none;
    }
    
    &>h2 {
        font-size: 36px;
        margin-left: 70px;
        padding-top: 64px;
    }

    &-content {
        display: flex;
        flex-direction: column;

        &-image {
            margin-left: 150px;
        }
        

        &-top-text {
            display: flex;
            justify-content: space-between;
            margin: 0 110px -50px;

            [class^="roadmap-content-top-text-"] {
                max-width: 150px;
            }

            &-5 {
                @mixin atLarge {
                    margin-right: 25px;
                }
            }

            @mixin atMedium {
                margin-right: 2%;
                font-size: 14px;
            }
        }

        &>div>div>h4:first-child {
            color: $lightGreen;
        }

        &>div>div>h4:nth-child(2) {
            color: #2a81bd;
        }

        &-bottom-text {
            display: flex;
            justify-content: space-between;
            margin: 0 170px;
            [class^="roadmap-content-bottom-text-"] {
                max-width: 150px;
            }

            @mixin atMedium {
                font-size: 14px;
            }

            &-4 {
                @mixin atMedium {
                    margin-right: -100px;
                }
                @mixin atLarge {
                    margin-right: 75px;
                }
            }

        }
    }
}