.s-header {
    display: flex;
    text-align: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    color: $mainWhite;
    align-items: center;
    background-color: rgba(0, 127, 186, 0.21);
    transition: background-color .3s ease-out;

    @mixin atSmall {
        &--invisible {
            background: #016BAD;
        }
    }

    &__logo {
        font-weight: bold;
        margin-left: 70px;
        font-size: 28px;
        cursor: pointer;
        animation: enter .5s ease-in-out;
        
        @mixin atSmall {
            &--invisible {
                display: none;
            }
        }
    }
    
    &-nav {
        flex: 1;
    }

    &-nav__list {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        flex-flow: wrap;
        
        &__item {
            margin: 0 20px;
            border: solid rgba(0,0,0,0);
            padding: 5px;
            cursor: pointer;
            transition: all .4s ease-in-out;

            &:hover {
                background-color: #FFF;
                color: #016BAD;
                transform: scale(1.1);
                border: none;
                font-size: large;
            }

            @mixin headerItem &-wp, 25px {
                
                @mixin atSmall {
                    min-width: 20%;
                    margin: 5px auto;
                    animation: zoom-in .5s ease-in-out;
                }
            }
        }

        @mixin atSmall {
            display: none;

            &--invisible {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 50px;
            }
        }

    }
    

    &__menu-icon {
        width: 20px;
        height: 19px;
        position: absolute;
        z-index: 10;
        top: 30px;
        right: 10px;
        cursor: pointer;
          
          &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 3px;
              background-color: #FFF;
              transform-origin: 0 0;
              transition: transform .3s ease-out;
          }
          &__middle {
              position: absolute;
              top: 8px;
              left: 0;
              width: 20px;
              height: 3px;
              background-color: #FFF;
              transition: all .3s ease-out;
              transform-origin: 0 50%;
          }
          &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 20px;
              height: 3px;
              background-color: #FFF;
              transform-origin: 0 100%;
              transition: transform .3s ease-out;
          }

          &--close-x {
            &::before {
                transform: rotate(45deg) scaleX(1.25);
            }
            
            .s-header__menu-icon__middle {
                opacity: 0;
                transform: scaleX(0);
            }
            
            &::after {
                transform: rotate(-45deg) scaleX(1.25) translateY(1px);
            }
        }
    
        @mixin atMedium {
          display: none;
        }
        @mixin atLarge {
            display: none;
        }
      }
    
}

@keyframes zoom-in {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes enter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}