.solution {
    &-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        background: url("/assets/img/about-copy.svg");
        background-size: 100% auto;
        color: $mainWhite;
    }

    &-text {
        margin-left: 4.375rem;

        &>h2 {
            font-size: 2.25rem;
        }
    }

    &-image {
        grid-column: 2 / 3;
        position: relative;
        text-align: center;

        &__fig {
            position: absolute;
            max-width: 43%;
            transform: translate(-50%, 20%);
        }

        @mixin pentagonText &__text1, 
            1.875rem, 25.69rem, 0.8125rem, center, 8.125rem { }

        @mixin pentagonText &__text2, 
            10.94rem, 12rem, 0.8125rem, left { }

        @mixin pentagonText &__text3, 
            11rem, 40.19rem, 0.8125rem, left { }

        @mixin pentagonText &__text4, 
            23.31rem, 16.21rem, 0.8125rem, center { }
            
        @mixin pentagonText &__text5, 
            23.69rem, 36.44rem, 0.8125rem, left { }
    }
}